.home{
    background-color: rgb(11, 19, 21);

    .home-section1{
        // padding: 0 60px ;
        .carousel{
            img{
                height: 720px;
            }
            .carousel-caption{
            // display: flex !important;
            // flex-direction: column !important;
            // gap: 30px !important;
            // justify-content: center !important;
            // align-items:flex-start !important;
            top: 50%;
            left: 40px;
            // text-transform: ;
            h5{
                font-size: 35px;
                padding-bottom: 15px;
        }
            text-align: left;
             p{
               font-size: 30px; 
               font-style: italic;
            }
            }
        }
      
    }
    .home-section3{
    padding: 80px 0;
        .container{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           .section3-title{
           padding: 50px 0;
            h1{
                font-weight: 700;
                font-size: 40px;
                color: white;
                padding-bottom: 20px;
            }
            span{
                color: #bfa37c;
                font-size: 25px;
            }
           }
           .row{
           padding: 20px 50px;
           justify-content: center !important;
        display: flex !important;
           align-items: center !important ;
               .card-1 , .card-2 , .card-3 , .card-4{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .card-img{
                    img{
                        height: 120px;
                    }
                    }
                .card-left{
                    .card-title{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                // padding: 15px 0;
                
                    h1{
                        color: white;
                        font-size: 40px;
                    }
                    h2{
                        color: #bfa37c;
                        font-size: 25px;
                        // span{
                        //     padding-left: 4px;
                        // }
                    }
                    p{
                    color: #ebaf5c;
                    }
                }
            }
            .card-right{
                padding-top: 10px;
                button{
                    background-color: transparent;
                    padding: 18px 15px;
                    border-color: #bfa37c;
                    color: white;
                }
            }
            }
           }
        }
    }
    .home-section4{
        .container{
            .section4-top{
                .section4-img{
                    // width: 100%;
                    img{
                        position: relative;
                        width: 100%; 
                        height: 250px;
                    }
                    // .section4-text{
                        // // display: flex;
                        // // flex-direction: column;
                        // // justify-content: center;
                        // // padding-top: 300px;
                        // text-align: start;
                        // top: 30px;
                //          span{
                //         //  h1{
                            
                //         //  }
                //                 // position: sticky;
                //                 font-family: Epilogue, sans-serif;
                //                 color: white;
                //                 // top: 30%;
                //                 // bottom: 30px;
                //                 // left: 30%;
                //             }
                //         // }
                // }
                }
                // .section4-text{
                    
                // }
            }
            .section4-bottom{
            padding: 50px 0;
            // text-align: center;
                .row{
                    .col-4{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .card1-text , .card2-text , .card3-text{
                        a{
                                color: white;
                                span{
                                    padding-top:20px;  
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    hr{
        width: 100%;
        color: white;
       
    }
}